# ignore pyenv
auto-homelab-local/

# Ignore Terraform files
__pycache__/
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Ignore the variables values file
aws_var.tf
proxmox_var.tf

.vscode/
.idea/
.angular/
node_modules/

#keys/

