
resource "proxmox_virtual_environment_vm" "{{name}}" {
  name      = "{{ name }}",
  node_name = "{{ node_name }}"

  initialization {
    user_account {
      username = "{{username}}"
      password = "{{password}}"
    }
  }

  disk {
    datastore_id = "{{ datastore_id }}"
    file_id      = "{{ file_id }}"
    interface    = "{{interface}}"
    iothread     = "{{iothread}}"
    discard      = "{{discard}}"
    size         = "{{size}}"
  }
}