<div class="relative flex flex-wrap">
  <div class="w-full  px-4">

    <div class="relative flex flex-col min-w-0 w-full p-2 shadow-lg rounded bg-white-sloth">
      <h3 class="font-semibold text-lg text-blueGray-700">
        Choose a provider
      </h3>
      <select
        class="bg-white border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-orange-sloth focus:border-orange-sloth block w-full p-2.5"
        (change)="onProviderChange($event.target) " [(ngModel)]="_filteredProvider">
        <option value="">Tous les types</option>
        <option value="proxmox">Proxmox</option>
        <option value="aws">AWS</option>
      </select>

      <div class="font-semibold text-sm text-blueGray-700" *ngIf="this.serverService.getServers().length === 0">
        Il n'y a aucune instance en cours.
      </div>
    </div>


    <div *ngIf="this.serverService.getServers().length > 0">
      <div *ngIf="_filteredProvider && this.serverService.getServersFilteredByProvider(_filteredProvider).length === 0"
        class="your-message-class">
        Il n'y a aucune instance pour le type sélectionné.
      </div>

      <div class="flex flex-wrap justify-center mt-4">
        <div class="w-full mb-2"
          *ngFor="let server of (_filteredProvider ? this.serverService.getServersFilteredByProvider(_filteredProvider) : this.serverService.getServersSortedByProvider())">
          <app-server-infos [server]="server"
            class="bg-gray-800 rounded overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out"></app-server-infos>
        </div>
      </div>
    </div>

  </div>
</div>