<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute bg-orange-sloth"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Votre outil de support IT.
            </h1>
            <p class="mt-4 mb-2 text-lg text-blueGray-200">
              Sloth est un suport automatique qui vous permet de répondre à vos problèmes via une solution d'intéligence artificielle.
            </p>
            <a
              [routerLink]="['/admin']"
              class="text-white hover:text-blueGray-200  px-3 py-4 items-center text-sm uppercase font-bold"
            >
              <i
                class="text-blueGray-200 fas fa-arrow-circle-right text-lg leading-lg mr-2" 
              ></i>
              Lancer
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
    
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-gray-sloth -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class=" w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white-sloth w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-brown-sloth"
              >
              <i class="fas fa-ticket-alt"></i>
            </div>
              <h6 class="text-xl font-semibold">Résolution ticket</h6>
              <p class="mt-2 mb-8 text-blueGray-500">
                Utilisez l'intéligence artificielle pour résourdre vos problèmes.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white-sloth w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-brown-sloth"
              >
              <i class="fas fa-tachometer-alt"></i>
            </div>
              <h6 class="text-xl font-semibold">Dashboard admin</h6>
              <p class="mt-2 mb-2 text-blueGray-500">
                L'équipe en charge de la résolution dispose d'un dashboard sur lequel elle peut apporter une assitance manuel classique.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white-sloth w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-brown-sloth"
              >
                <i class="fas fa-user"></i>
              </div>
              <h6 class="text-xl font-semibold">Support client</h6>
              <p class="mt-6 mb-4 text-blueGray-500">
                Les clients disposent d'un espace personnel pour suivre l'avancée de leur demande.
              </p>
            </div>
          </div>
        </div>
      </div>

     
    </div>
  </section>

  <section class="pt-20 relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-6/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="assets/img/SlothDashboard.png"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-brown-sloth"
            >
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Choisir la facilité</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Abrégez-vous de la résolution des problèmes interne connues de votre entreprise, le résolution filtrante par IA de Sloth vous permets de fournir une premiere solution simple pouvant ainsi répondre aux problèmes de vos collaborateurs grace à une base de connaissance riche. 
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-black bg-orange-sloth mr-3"
                    >
                      <i class="fas fa-robot"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Solutions immédiates 
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-black bg-orange-sloth mr-3"
                    >
                      <i class="fas fa-ticket-alt"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Suivi des tickets 
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-black bg-orange-sloth mr-3"
                    >
                      <i class="fas fa-cog"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      gestion des tickets
                    </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-20 relative block bg-gray-sloth">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">Commencez maintenant</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">
            Vous êtes client, commencez à questionner notre support! Vous êtes un membre de l'équipe, connectez-vous à votre dashboard.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <!-- Pricing Card pour Client -->
        <div class="px-4 w-full mb-5 lg:w-6/12">
          <div class="block rounded-lg bg-white-sloth text-center shadow-lg">
            <div class="border-b-2 border-neutral-100 px-7 py-3">
              <h5 class="mb-4 mt-4 text-lg font-semibold uppercase">Client</h5>
              <h4 class="mb-4">
                <span class="text-3xl font-bold">Gratuit</span>
              </h4> 
              <a [routerLink]="['/auth/register']"
                class="mb-4 mx-4 inline-block w-auto rounded-full bg-brown-sloth px-6 py-2 text-xs font-medium uppercase leading-normal text-white cursor-pointer">
                Commencer
              </a>
            </div>
            <div class="p-7 flex justify-center items-center">
              <ul class="text-gray-700 mt-6 mb-4">
                <li class="mb-2 flex items-center gap-10">
                  <i class="fas fa-check"></i>
                  <span>Accès complet au support automatique</span>
                </li>
                <li class="mb-2 flex items-center gap-10">
                  <i class="fas fa-check"></i>
                  <span>Suivi en temps réel des demandes</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      
        <!-- Pricing Card pour Admin -->
        <div class="px-4 w-full lg:w-6/12">
          <div class="block rounded-lg bg-orange-sloth text-center shadow-lg">
            <div class="border-b-2 border-neutral-100 px-7 py-3">
              <h5 class="mb-4 mt-4 text-lg font-semibold text-white uppercase">Admin</h5>
              <h4 class="mb-4">
                <span class="text-3xl text-white font-bold">€49</span>
                <span class="text-white dark:text-gray-300">/mois</span>
              </h4>
              <a [routerLink]="['/auth/register']"
                class="mb-4 mx-4 inline-block w-auto rounded-full bg-brown-sloth px-6 py-2 text-xs font-medium uppercase leading-normal text-white cursor-pointer hover:scale-y-150 transition-transform duration-300">

                
                Souscrire
              </a>
            </div>
            <div class="p-7 flex justify-center items-center">
              <ul class="text-gray-700 mt-6 mb-4">
                <li class="mb-2 flex items-center gap-10">
                  <i class="fas fa-check"></i>
                  <span>Gestion avancée des tickets</span>
                </li>
                <li class="mb-2 flexgit a items-center gap-10">
                  <i class="fas fa-check"></i>
                  <span>Statistiques avancées</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">Fondateurs</h2>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            Découvrez qui sont les fondateurs de Sloth.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="assets/img/john.jpeg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">John PADE</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                UI/UX Designer
              </p>
              <div class="mt-6">
                <a href="https://www.linkedin.com/in/john-padé" target="_blank" rel="noopener noreferrer">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-linkedin"></i>
                </button>
                </a>
               
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="assets/img/paul.jpeg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Paul FOURNET</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                IA Developer
              </p>
              <div class="mt-6">
                <a href="https://www.linkedin.com/in/paul-fournet-plessis" target="_blank" rel="noopener noreferrer">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-linkedin"></i>
                </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="assets/img/guillaume.jpeg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Guillaume ROHEE</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Backend Developer
              </p>
              <div class="mt-6">
                <a href="https://www.linkedin.com/in/guillaume-rohée" target="_blank" rel="noopener noreferrer">
                <button 
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-linkedin"></i>
                </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="assets/img/theo.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Théo LOMEGE</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Backend Developer
              </p>
              <div class="mt-6">
                <a href="#" target="_blank" rel="noopener noreferrer">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-linkedin"></i>
                </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
