<footer
  class="pb-6"
  [ngClass]="absolute ? 'absolute w-full bottom-0 bg-gray-sloth' : 'relative'"
>
  <div class="container mx-auto px-4">
    <hr class="mb-6 border-b-1 border-white-sloth" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4">
        <div
          class="text-sm text-white font-semibold py-1 text-center md:text-left"
        >
          Copyright © {{ date }}
          <a
            href="https://www.linkedin.com/in/john-padé"
            class="text-white hover:text-blueGray-300 text-sm font-semibold py-1"
          >
            PADE John
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
