<form [formGroup]="awsForm" (ngSubmit)="onSubmit()" class="max-w-xl mx-auto my-10 bg-gray-800 p-8 rounded-lg">
  <h2 class="text-2xl font-semibold text-gray-300 mb-5">Créer une machine virtuelle AWS</h2>

  <!-- Name -->
  <div class="mb-5">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-300">Nom de la machine</label>
    <input type="text" id="name" formControlName="serverName" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
    <!-- Error Message si le champ n'est pas rempli -->
    <div *ngIf="awsForm.controls['serverName'].touched">
      <div *ngIf="awsForm.controls['serverName'].errors?.['required']" class="text-red-500 text-sm mt-1">
        Le nom de la machine est requis
      </div>
    </div>
  </div>

  <!-- Instance Type -->
  <div class="mb-5">
    <label for="type" class="block mb-2 text-sm font-medium text-gray-300">Type d'instance</label>
    <select id="type" formControlName="type" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
      <option value="t2.micro" selected>t2.micro</option>
      <option value="t2.small">t2.small</option>
      <option value="t2.medium">t2.medium</option>
      <option value="t2.large">t2.large</option>
    </select>
  </div>

  <!-- Region -->
  <div class="mb-5">
    <label for="region" class="block mb-2 text-sm font-medium text-gray-300">Région</label>
    <select id="region" formControlName="region" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
      <option value="us-east-1">us-east-1</option>
      <option value="us-east-2">us-east-2</option>
      <option value="us-west-1">us-west-1</option>
      <option value="us-west-2">us-west-2</option>
      <option value="eu-west-1">eu-west-1</option>
      <option value="eu-west-2">eu-west-2</option>
      <option value="eu-west-3" selected>eu-west-3</option>
      <option value="eu-central-1">eu-central-1</option>
      <option value="ap-northeast-1">ap-northeast-1</option>
      <option value="ap-northeast-2">ap-northeast-2</option>
      <option value="ap-southeast-1">ap-southeast-1</option>
      <option value="ap-southeast-2">ap-southeast-2</option>
      <option value="ap-south-1">ap-south-1</option>
      <option value="sa-east-1">sa-east-1</option>
    </select>
  </div>

  <!-- AMI -->
  <div class="mb-5">
    <label for="ami" class="block mb-2 text-sm font-medium text-gray-300">AMI</label>
    <select id="ami" formControlName="ami" class="bg-gray-700 border border-gray-600 text-white text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5">
      <option value="ami-00c71bd4d220aa22a" selected>Amazon Ubuntu, 22.04 LTS</option>
    </select>
  </div>

  <button type="submit" class="w-full bg-green-500 hover:bg-green-600 text-white text-sm font-medium rounded-lg px-4 py-2.5 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-75">
    Créer
  </button>
</form>
